<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name ="KeywordsDB" connectionString="Server=DESKTOP-D1L7FK2;Database=ToolEByte;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>

    <add name ="InformationDB" connectionString="Server=DESKTOP-D1L7FK2;Database=saveinformation;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
   
  </connectionStrings>
  
</configuration>